<div class="topnav">
 <%= link_to 'Home', home_index_url, id:"left_tab"%>
 <%= link_to 'Categories', datasheet_categories_url%>
 <%= link_to 'Datasheets', datasheets_index_url%>
 <%= link_to 'Database', materials_index_url, class:"active"%>
 <%= link_to 'About', about_index_url%>
</div>
